/* .form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */

.inputDate {
  /* border: none; */
  outline: none;
}

.inputBox {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  width: 250px;
  border: 2px solid #2baf57;
  background-color: #242424;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}