.form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.inputDate {
  /* border: none; */
  outline: none;
}

.inputBox {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputBox input {
  width: 100%;
  padding: .5rem;
  width: 250px;
  border: 2px solid var(--greenColor);
  background-color: #242424;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  font-size: 1rem;
}

.btnSubmit {
  width: 100%;
  padding: 10px;
  width: 250px;
  background-color: var(--greenColor);
  border-radius: 18px;
  outline: none;
  border: none;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  cursor: pointer;
  font-size: 1.1rem;
}